  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Pintrested', root_path, class: "brand-logo center" %> 
      <a href="#" data-activates="nav-drop" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="nav-drop">
        <li><%= link_to 'Home', root_path, class: "btn-flat"%></li>
        <li><%= link_to 'About', home_about_path, class: "btn-flat" %></li>
      </ul>

      <ul id="nav" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path, class: "btn-flat"%></li>
        <li><%= link_to 'About', home_about_path, class: "btn-flat" %></li>
      </ul>
      <ul id="nav" class="left hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path  %></li>
          <li><%= link_to "Join", new_user_registration_path %> </li>
        <% end %>
      </ul>


    </div>
  </nav>



